<launch>

  <group ns="wave2sound0">
    <node pkg="asymgen" name="wave2sound" type="wave2sound.py" args="-c 0" output="screen"/>
  </group>

  <group ns="wave2sound1">
    <node pkg="asymgen" name="wave2sound" type="wave2sound.py" args="-c 1" output="screen"/>
  </group>

  <!--<node pkg="turtlesim" name="mimic" type="mimic">-->
    <!--<remap from="input" to="turtlesim1/turtle1"/>-->
    <!--<remap from="output" to="turtlesim2/turtle1"/>-->
  <!--</node>-->

</launch>